.number-input label {
    color: #272727;
    line-height: 1.5rem;
}

.number-input input {
    height: 40px;
    width: 100%;
    padding: 0 14px;

    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
    font-size: 1rem;

    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 4px;

    outline: none;
    background-color: #fff;

    box-sizing: border-box;

    transition: border-color 0.2s, box-shadow 0.2s;

    color-scheme: light;
}

.number-input input:hover,
.number-input input:focus {
    border: 1px solid #000;
    border-radius: 4px;

}